.row-2 > div {
    overflow-y: hidden;
}

.row.one-third {
    height: 30vh;
}

.row.two-thirds {
    height: 70vh;
}

.row.full {
    height: 100vh;
}

.notes-row:hover {
    cursor: pointer;
}

html, body {
    height: 100%;
}